:root{
    --theme_fg_color: #5c616c;
    --theme_text_color: #5c616c;
    --theme_bg_color: #F5F6F7;
    --theme_base_color: #ffffff;
    --theme_selected_bg_color: #5294e2;
    --theme_selected_fg_color: #ffffff;
    --fg_color: #5c616c;
    --text_color: #5c616c;
    --bg_color: #F5F6F7;
    --base_color: #ffffff;
    --selected_bg_color: #5294e2;
    --selected_fg_color: #ffffff;
    --insensitive_bg_color: #fbfbfc;
    --insensitive_fg_color: hsla(221, 8%, 39%, 0.5);
    --insensitive_base_color: #ffffff;
    --theme_unfocused_fg_color: #5c616c;
    --theme_unfocused_text_color: #5c616c;
    --theme_unfocused_bg_color: #F5F6F7;
    --theme_unfocused_base_color: #ffffff;
    --borders: #dcdfe3;
    --unfocused_borders: #dcdfe3;
    --warning_color: #F27835;
    --error_color: #FC4138;
    --success_color: #73d216;
    --placeholder_text_color: #A8A8A8;
    --link_color: #2679db;
    --content_view_bg: #ffffff;
    --wm_title: hsla(222, 18%, 39%, 0.8);
    --wm_unfocused_title: hsla(0, 0%, 0%, 0.5);
    --wm_bg: #e7e8eb;
    --wm_bg_unfocused: #eff0f2;
    --wm_highlight: #eff0f2;
    --wm_shadow: hsla(0, 0%, 0%, 0.35);
    --wm_button_close_bg: #f46067;
    --wm_button_close_hover_bg: #f68086;
    --wm_button_close_active_bg: #f13039;
    --wm_icon_close_bg: #F8F8F9;
    --wm_button_hover_bg: #fdfdfd;
    --wm_button_active_bg: #5294e2;
    --wm_button_hover_border: #D1D3DA;
    --wm_icon_bg: #90949E;
    --wm_icon_unfocused_bg: #B6B8C0;
    --wm_icon_hover_bg: #7A7F8B;
    --wm_icon_active_bg: #ffffff;
}

.bp3-tree { background-color: var(--bg_color); }
  li.bp3-tree-node { border-top: 1px solid var(--borders_color); }
  .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content { background-color: var(--selected_bg_color); }
  .bp3-tree-node-content { height: 38px; }
  .bp3-tree-node-content:hover {
    background-color: rgba(191, 204, 214, 0.4);
}
/* Scrollbars */ 

::-webkit-scrollbar
{
	height: 11px;
	width: 11px;
	background-color: #fcfcfc;
}

::-webkit-scrollbar-thumb
{
	background-color: #d3d4d8;
	border: 3px solid #fcfcfc;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:window-inactive:hover
{
	background-color: #b8babf;
}

::-webkit-scrollbar-thumb:active
{
	background-color: var(--selected_bg_color);
}

::-webkit-scrollbar-thumb:window-inactive
{
	background-color: #d3d4d8;
}

::-webkit-scrollbar-corner
{
	background-color: #fcfcfc;
}


/* Custom for awiki */
/* Needs to refactor toolbar to match Adwaita look */
.tui-editor-defaultUI-toolbar, .tui-editor-defaultUI-toolbar button { background-color: var(--bg_color); }
.tui-editor-defaultUI-toolbar button { 
    border-color: var(--bg_color);
    border-radius: 3px;
    
}
.tui-editor-defaultUI-toolbar button:hover, .tui-editor-defaultUI .te-switch-button:hover { 
    background-color: var(--wm_button_hover_bg);
    border-color: var(--wm_button_hover_border);
    color: var(--fg_color)
}
.tui-editor-defaultUI-toolbar button:focus, .tui-editor-defaultUI-toolbar button.active { 
    background-color: var(--wm_button_active_bg);
    border-color: var(--wm_button_active_bg);
}


.tui-editor-contents h1, .tui-editor-contents h2, .tui-editor-contents h3, .tui-editor-contents h4, .tui-editor-contents h5, .tui-editor-contents h6 {
  color: var(--selected_bg_color);
}
.tui-editor-contents a { color: var(--link_color); }

.tui-editor-defaultUI .te-mode-switch-section, .tui-editor-defaultUI .te-switch-button { background-color: var(--bg_color);}
.tui-editor-defaultUI .te-switch-button  { border-color: var(--bg_color); }
.tui-editor-defaultUI .te-switch-button.active {  background-color: var(--wm_button_hover_bg); color: var(--fg_color;);}