:root{
    --theme_fg_color: #5c616c;
    --theme_text_color: #5c616c;
    --theme_bg_color: #F5F6F7;
    --theme_base_color: #ffffff;
    --theme_selected_bg_color: #5294e2;
    --theme_selected_fg_color: #ffffff;
    --fg_color: #5c616c;
    --text_color: #5c616c;
    --bg_color: #F5F6F7;
    --base_color: #ffffff;
    --selected_bg_color: #5294e2;
    --selected_fg_color: #ffffff;
    --insensitive_bg_color: #fbfbfc;
    --insensitive_fg_color: hsla(221, 8%, 39%, 0.5);
    --insensitive_base_color: #ffffff;
    --theme_unfocused_fg_color: #5c616c;
    --theme_unfocused_text_color: #5c616c;
    --theme_unfocused_bg_color: #F5F6F7;
    --theme_unfocused_base_color: #ffffff;
    --borders: #dcdfe3;
    --unfocused_borders: #dcdfe3;
    --warning_color: #F27835;
    --error_color: #FC4138;
    --success_color: #73d216;
    --placeholder_text_color: #A8A8A8;
    --link_color: #2679db;
    --content_view_bg: #ffffff;
    --wm_title: hsla(222, 18%, 39%, 0.8);
    --wm_unfocused_title: hsla(0, 0%, 0%, 0.5);
    --wm_bg: #e7e8eb;
    --wm_bg_unfocused: #eff0f2;
    --wm_highlight: #eff0f2;
    --wm_shadow: hsla(0, 0%, 0%, 0.35);
    --wm_button_close_bg: #f46067;
    --wm_button_close_hover_bg: #f68086;
    --wm_button_close_active_bg: #f13039;
    --wm_icon_close_bg: #F8F8F9;
    --wm_button_hover_bg: #fdfdfd;
    --wm_button_active_bg: #5294e2;
    --wm_button_hover_border: #D1D3DA;
    --wm_icon_bg: #90949E;
    --wm_icon_unfocused_bg: #B6B8C0;
    --wm_icon_hover_bg: #7A7F8B;
    --wm_icon_active_bg: #ffffff;
}