:root {
    /* My theme vars */
    --bg_color: #F5F8FA;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-size: 13px;
    background-color: rgb(240, 240, 240);
  }
  
  main {
    color: rgb(17, 17, 17);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: calc(100vw - 270px);
  }

  .sidebar {
    position: relative;
    width: 270px;
    height: 100vh;
    overflow: auto;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    cursor: default;
    padding: 0;
    background-color: var(--bg_color)
  }

  /* Tui-Editor */

  .tui-toolbar-icons.tui-help { background: unset; color: #333;}
  .tui-editor-contents {
    font-size: 18px;
  }

  .tui-editor-defaultUI {
    font-family: "Merriweather", "Noto Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
    font-weight: lighter;
  }

  .tui-editor .te-preview-style-vertical .te-preview {
    display: none;
  }
  .tui-editor .te-preview-style-vertical .te-editor {
    width: 100%;
  }

pre.CodeMirror-line {
  outline: unset;
  font-weight: normal;
}

.tui-editor .te-preview-style-vertical .te-md-splitter {
    display: none;
}

.tui-editor-contents ul, .tui-editor-contents menu, .tui-editor-contents ol, .tui-editor-contents dir {
  color: #181818;
}

.te-switch-button.markdown, .te-switch-button.wysiwyg {
  font-family: system-ui;
}

/* New File Dialog */
.new-file-dialog {
  width: 500px;
  top: 20vh;
}
/* END New File Dialog */

/* Help Page */
.help--left, .help--right { flex-grow: 1; padding: 2rem; }
.help-body .bp3-running-text table tbody tr:first-child th, .help-body table.bp3-html-table tbody tr:first-child th, .help-body .bp3-running-text table tbody tr:first-child td, .help-body table.bp3-html-table tbody tr:first-child td { box-shadow: none; }

.help-body .bp3-running-text table th, .help-body table.bp3-html-table th, .help-body .bp3-running-text table td, .help-body table.bp3-html-table td { padding-left: 0; vertical-align: baseline; }

.bp3-key-combo:empty::before, .bp3-key-combo > :first-child {
  margin-left: 0;
}
.bp3-key-combo::before, .bp3-key-combo > * {
  margin-left: 5px;
}